<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_page</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="page-wrap">
    <header class="site-header">
        <nav class="site-nav">
            <ul>
                <li><a class="site-logo" href="/main">clothes shop</a></li>
            </ul>
            <ul>
                <li><a href="#">My Page</a></li>

                <li><a href="#">여기는 이제 저장한거 넣어야함</a></li>
            </ul>
        </nav>
    </header>
    <main class="page-main">
        <ul class="myPage-products">
            <li class="card">
                <div class="card__text">
                    <h2 class="card__title">
                        <a class="card__link" href="#">제품 명</a>
                    </h2>
                    <div class="card__img">
                        <img src="https://assets.codepen.io/t-1/denys-striyeshyn-wJ7yGwz2-00-unsplash.jpg" alt="minimal wooden desk with accompanying wood and metal chair." loading="lazy" width="750" height="750">
                    </div>
                    <p class="product-price">가격</p>
                    <div class="product-compare">
                        <input id="compare-table1" name="compare" type="checkbox" value="compare">
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="card__text">
                    <h2 class="card__title">
                        <a class="card__link" href="#">제품 명</a>
                    </h2>
                    <div class="card__img">
                        <img src="https://assets.codepen.io/t-1/denys-striyeshyn-wJ7yGwz2-00-unsplash.jpg" alt="minimal wooden desk with accompanying wood and metal chair." loading="lazy" width="750" height="750">
                    </div>
                    <p class="product-price">가격</p>
                    <div class="product-compare">
                        <input id="compare-table2" name="compare" type="checkbox" value="compare">
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="card__text">
                    <h2 class="card__title">
                        <a class="card__link" href="#">제품 명</a>
                    </h2>
                    <div class="card__img">
                        <img src="https://assets.codepen.io/t-1/denys-striyeshyn-wJ7yGwz2-00-unsplash.jpg" alt="minimal wooden desk with accompanying wood and metal chair." loading="lazy" width="750" height="750">
                    </div>
                    <p class="product-price">가격</p>
                    <div class="product-compare">
                        <input id="compare-table3" name="compare" type="checkbox" value="compare">
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="card__text">
                    <h2 class="card__title">
                        <a class="card__link" href="#">제품 명</a>
                    </h2>
                    <div class="card__img">
                        <img src="https://assets.codepen.io/t-1/denys-striyeshyn-wJ7yGwz2-00-unsplash.jpg" alt="minimal wooden desk with accompanying wood and metal chair." loading="lazy" width="750" height="750">
                    </div>
                    <p class="product-price">가격</p>
                    <div class="product-compare">
                        <input id="compare-table4" name="compare" type="checkbox" value="compare">
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
<footer class="site-footer">
    <div class="footer-links">
        <h2>Category</h2>
        <ul>
            <li><a href="#">Outter</a></li>
            <li><a href="#">Shirt</a></li>
            <li><a href="#">Pants</a></li>
        </ul>
    </div>
    <div class="footer-links">
        <h2>Help</h2>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shipments</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Stores</a></li>
        </ul>
    </div>
    <div class="footer-links">
        <h2>About Us</h2>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Stores</a></li>
        </ul>
    </div>
</footer>
</body>
</html>